/* icons */

.icon-deactivate:before {
    content: "\e93b";
}
.icon-download:before {
    content: "\e93c";
}
.icon-drag-dots:before {
    content: "\e93d";
}
.icon-copy:before {
    content: "\e93e";
}
.icon-go-to-list .path1:before {
    content: "\e93f";
    color: rgb(5, 29, 57);
}
.icon-go-to-list .path2:before {
    content: "\e940";
    margin-left: -1.1669921875em;
    color: rgb(5, 29, 57);
}
.icon-go-to-list .path3:before {
    content: "\e941";
    margin-left: -1.1669921875em;
    color: rgb(5, 29, 57);
    opacity: 0.5;
}
.icon-go-to-list .path4:before {
    content: "\e942";
    margin-left: -1.1669921875em;
    color: rgb(5, 29, 57);
    opacity: 0.5;
}
.icon-go-to-list .path5:before {
    content: "\e943";
    margin-left: -1.1669921875em;
    color: rgb(5, 29, 57);
    opacity: 0.5;
}
.icon-go-to-list .path6:before {
    content: "\e944";
    margin-left: -1.1669921875em;
    color: rgb(5, 29, 57);
    opacity: 0.5;
}
.icon-go-to-list .path7:before {
    content: "\e945";
    margin-left: -1.1669921875em;
    color: rgb(5, 29, 57);
}
.icon-go-to-list .path8:before {
    content: "\e946";
    margin-left: -1.1669921875em;
    color: rgb(5, 29, 57);
}
.icon-link-2:before {
    content: "\e947";
}
.icon-settings:before {
    content: "\e948";
}
.icon-sort:before {
    content: "\e949";
}
.icon-time:before {
    content: "\e94a";
}
.icon-add-row:before {
    content: "\e900";
}
.icon-alert:before {
    content: "\e901";
}
.icon-arrow-left:before {
    content: "\e902";
}
.icon-arrow-right:before {
    content: "\e903";
}
.icon-arrow-up:before {
    content: "\e904";
}
.icon-bargrid:before {
    content: "\e905";
}
.icon-bchart:before {
    content: "\e906";
}
.icon-b-chart-2:before {
    content: "\e907";
}
.icon-calendar:before {
    content: "\e908";
}
.icon-calendar-check:before {
    content: "\e909";
}
.icon-charts-bar-grid:before {
    content: "\e90a";
}
.icon-charts-donut:before {
    content: "\e90b";
}
.icon-charts-gauge:before {
    content: "\e90c";
}
.icon-charts-horizontal:before {
    content: "\e90d";
}
.icon-charts-list:before {
    content: "\e90e";
}
.icon-charts-pie:before {
    content: "\e90f";
}
.icon-charts-verical:before {
    content: "\e910";
}
.icon-checked:before {
    content: "\e911";
}
.icon-close-solid:before {
    content: "\e912";
}
.icon-cross:before {
    content: "\e913";
}
.icon-delete-solid:before {
    content: "\e914";
}
.icon-doughnut:before {
    content: "\e915";
}
.icon-edit:before {
    content: "\e916";
}
.icon-edit-solid:before {
    content: "\e917";
}
.icon-eye-solid:before {
    content: "\e918";
}
.icon-filter:before {
    content: "\e919";
}
.icon-font-bold:before {
    content: "\e91a";
}
.icon-font-italic:before {
    content: "\e91b";
}
.icon-font-underline:before {
    content: "\e91c";
}
.icon-full-screen:before {
    content: "\e91d";
}
.icon-gauge-chart:before {
    content: "\e91e";
}
.icon-grid:before {
    content: "\e91f";
}
.icon-group-by-column:before {
    content: "\e920";
}
.icon-hide:before {
    content: "\e921";
}
.icon-info-solid:before {
    content: "\e922";
}
.icon-link:before {
    content: "\e923";
}
.icon-lock-solid:before {
    content: "\e924";
}
.icon-menu:before {
    content: "\e925";
}
.icon-move-arrows:before {
    content: "\e926";
}
.icon-notification:before {
    content: "\e927";
}
.icon-options:before {
    content: "\e928";
}
.icon-piechart:before {
    content: "\e929";
}
.icon-plus:before {
    content: "\e92a";
}
.icon-preferences:before {
    content: "\e92b";
}
.icon-refresh:before {
    content: "\e92c";
}
.icon-save:before {
    content: "\e92d";
}
.icon-save-as:before {
    content: "\e92e";
}
.icon-search:before {
    content: "\e92f";
}
.icon-success:before {
    content: "\e930";
}
.icon-tilegrid:before {
    content: "\e931";
}
.icon-timestamp:before {
    content: "\e932";
}
.icon-to-do:before {
    content: "\e933";
}
.icon-total:before {
    content: "\e934";
}
.icon-unify:before {
    content: "\e935";
}
.icon-up-down-arrows:before {
    content: "\e936";
}
.icon-view-grid:before {
    content: "\e937";
}
.icon-view-rows:before {
    content: "\e938";
}
.icon-zoom-in:before {
    content: "\e939";
}
.icon-zoom-out:before {
    content: "\e93a";
}
