@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 100;
  src: url("fonts/Inter-UI-Thin-BETA.woff2") format("woff2"),
       url("fonts/Inter-UI-Thin-BETA.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 100;
  src: url("fonts/Inter-UI-ThinItalic-BETA.woff2") format("woff2"),
       url("fonts/Inter-UI-ThinItalic-BETA.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 200;
  src: url("fonts/Inter-UI-ExtraLight-BETA.woff2") format("woff2"),
       url("fonts/Inter-UI-ExtraLight-BETA.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 200;
  src: url("fonts/Inter-UI-ExtraLightItalic-BETA.woff2") format("woff2"),
       url("fonts/Inter-UI-ExtraLightItalic-BETA.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 300;
  src: url("fonts/Inter-UI-Light-BETA.woff2") format("woff2"),
       url("fonts/Inter-UI-Light-BETA.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 300;
  src: url("fonts/Inter-UI-LightItalic-BETA.woff2") format("woff2"),
       url("fonts/Inter-UI-LightItalic-BETA.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  src: url("fonts/Inter-UI-Regular.woff2") format("woff2"),
       url("fonts/Inter-UI-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 400;
  src: url("fonts/Inter-UI-Italic.woff2") format("woff2"),
       url("fonts/Inter-UI-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 500;
  src: url("fonts/Inter-UI-Medium.woff2") format("woff2"),
       url("fonts/Inter-UI-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 500;
  src: url("fonts/Inter-UI-MediumItalic.woff2") format("woff2"),
       url("fonts/Inter-UI-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 600;
  src: url("fonts/Inter-UI-SemiBold.woff2") format("woff2"),
       url("fonts/Inter-UI-SemiBold.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 600;
  src: url("fonts/Inter-UI-SemiBoldItalic.woff2") format("woff2"),
       url("fonts/Inter-UI-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 700;
  src: url("fonts/Inter-UI-Bold.woff2") format("woff2"),
       url("fonts/Inter-UI-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 700;
  src: url("fonts/Inter-UI-BoldItalic.woff2") format("woff2"),
       url("fonts/Inter-UI-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 800;
  src: url("fonts/Inter-UI-ExtraBold.woff2") format("woff2"),
       url("fonts/Inter-UI-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 800;
  src: url("fonts/Inter-UI-ExtraBoldItalic.woff2") format("woff2"),
       url("fonts/Inter-UI-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 900;
  src: url("fonts/Inter-UI-Black.woff2") format("woff2"),
       url("fonts/Inter-UI-Black.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 900;
  src: url("fonts/Inter-UI-BlackItalic.woff2") format("woff2"),
       url("fonts/Inter-UI-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: 'untill-icons';
  src:  url('fonts/icons/untill-icons.eot?kmi4wt');
  src:  url('fonts/icons/untill-icons.eot?kmi4wt#iefix') format('embedded-opentype'),
    url('fonts/icons/untill-icons.ttf?kmi4wt') format('truetype'),
    url('fonts/icons/untill-icons.woff?kmi4wt') format('woff'),
    url('fonts/icons/untill-icons.svg?kmi4wt#untill-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* reset css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
  box-sizing: border-box;
  max-width: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************/


html.main:root {
    --color-bg: #F5F8FA;

    --color-brand: #0277e7;
    --color-brand-dark: #025fb9;
    --color-info: #0277e7;
    --color-success: #36ab80;
    --color-warning: #f7af22;
    --color-danger: #f4541d;

    --color-text-dark: #051d39;  /* usage: main headings, active text, input text */
    --color-text-medium: #506174; /* usage: lists, input labels, placeholders */
    --color-text-light: #8a94a6; /* usage: secondary text, placeholders */
    --color-text-disabled: #b0b7c3; /* usage: disabled text */

    --box-shadow-z-1: 0px 1px 1px rgba(10, 22, 70, 0.1);
    --box-shadow-z-2: 0px 3px 3px rgba(5, 29, 57, 0.1);
    --box-shadow-z-3: 0px 6px 6px rgba(5, 29, 57, 0.1);
    --box-shadow-z-4: 0px 16px 16px rgba(5, 29, 57, 0.1);
    --box-shadow-z-5: 0px 32px 40px rgba(5, 29, 57, 0.12);

    /*   dark   */

    --color-dark-900: #051d39;
    --color-dark-800: #1e344d;
    --color-dark-700: #374a61;
    --color-dark-600: #506174;
    --color-dark-500: #697788;
    --color-dark-400: #9ba5b0;
    --color-dark-300: #b4bbc4;
    --color-dark-200: #cdd2d7;
    --color-dark-100: #e6e8eb;

    /*   light   */

    --color-light-900: #8a94a6;
    --color-light-800: #98a1b1;
    --color-light-700: #a7aebb;
    --color-light-600: #b0b7c3;
    --color-light-500: #c9ced6;
    --color-light-400: #e1e4e8;
    --color-light-300: #f1f2f4;
    --color-light-200: #f7f8f9;
    --color-light-100: #f9fbfd;

    /*   brand   */

    --color-brand-900: #01488b;
    --color-brand-800: #025fb9;
    --color-brand-700: #0277e7;
    --color-brand-600: #248bec;
    --color-brand-500: #4ea6f9;
    --color-brand-400: #82befa;
    --color-brand-300: #bfdfff;
    --color-brand-200: #e5f2ff;
    --color-brand-100: #f7fbff;

    /*   danger   */

    --color-danger-900: #a32801;
    --color-danger-800: #d13a06;
    --color-danger-700: #f4541d;
    --color-danger-600: #f7926f;
    --color-danger-500: #fabeaa;
    --color-danger-400: #fcd7ca;
    --color-danger-300: #fde8e1;
    --color-danger-200: #fef6f3;
    --color-danger-100: #fffbfa;

    /*   success   */

    --color-success-900: #136a4a;
    --color-success-800: #23825f;
    --color-success-700: #36ab80;
    --color-success-600: #6fcaa8;
    --color-success-500: #a9dcc9;
    --color-success-400: #d0eddf;
    --color-success-300: #eaf7f1;
    --color-success-200: #f5fbf8;
    --color-success-100: #fafdfc;

    /*   warning   */

    --color-warning-900: #ef8511;
    --color-warning-800: #f69d2c;
    --color-warning-700: #f7af22;
    --color-warning-600: #fbc050;
    --color-warning-500: #fbe0a1;
    --color-warning-400: #fdeecb;
    --color-warning-300: #fef7e6;
    --color-warning-200: #fefaf1;
    --color-warning-100: #fffdf8;

    /* buttons */

    --color-button-primary: #025fb9;
    --color-button-primary-text: #ffffff;

    --color-button-primary-hover: #000000;
    --color-button-primary-text-hover: #ffffff;

    --color-button-secondary: #ffffff;
    --color-button-secondary-text: #01488b;

    --color-button-secondary-hover: #ffffff;
    --color-button-secondary-text-hover: #000000;

    --color-button-warning: #ef8511;
    --color-button-warning-text: #051d39;

    --color-button-warning-hover: #000000;
    --color-button-warning-text-hover: #ffffff;

    --color-button-danger: #f4541d;
    --color-button-danger-text: #ffffff;

    --color-button-danger-hover: #000000;
    --color-button-danger-text-hover: #ffffff;

    --color-button-success: #136a4a;
    --color-button-success-text: #ffffff;

    --color-button-success-hover: #000000;
    --color-button-success-text-hover: #ffffff;

    /* border radius */

    --border-radius-small: 2pt;
    --border-radius-medium: 4pt;
    --border-radius-large: 8pt;

    /* othe */

    --notify-bg-color: #ffffff;
}

* {
  font-family: "Inter UI", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-brand);
  transition: color 0.3s;
}

a:hover {
  color: var(--color-text-dark);
}

body {
    color: var(--color-text-dark);
    font-size: 12pt;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "untill-icons" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content-container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}

.content-container.wide {
  max-width: initial;
  width: 96%;
}

.content-block {
  margin: 32px 0px;
}

.paper {
  background-color: #fff;
  box-shadow: var(--box-shadow-z-2);
  border-radius: 10px;
}

.clear, .cle {
  clear: both;
}

.clear-left, .clel {
  clear: left;
}

.clear-right, .cler {
  clear: right;
}

.float-left, .fl {
  float: left;
}

.float-right, .fr {
  float: right;
}

/* badges */

.badge {
  background-color: var(--color-brand);

  width: 12pt;
  height: 12pt;

  line-height: 11pt;

  font-size: 7pt;
  text-align: center;
  color: #fff;

  position: absolute !important;

  left: 3pt;
  top: 3pt;

  border-radius: 6pt;

  display: block !important;
}


.badge.opacity {
  opacity: 0.7;
}

.badge.left {
  left: 3pt;
}

.badge.out.left {
  left: -3pt;
}

.badge.right {
  left: initial;
  right: 3pt;
}

.badge.out.right {
  left: initial;
  right: -3pt;
}

.badge.top {
  top: 3pt;
}

.badge.out.top {
  top: -3pt;
}

.badge.bottom {
  top: initial;
  bottom: 3pt;
}

.badge.out.bottom {
  top: initial;
  bottom: -3pt;
}

.badge.success {
  background-color: var(--color-success-900);
}

.badge.warning {
  background-color: var(--color-warning-900);
}

.badge.danger {
  background-color: var(--color-danger-900);
}

/* grid */

.grid {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  grid-gap: 0px 0px; 
}

.grid.row-1 { grid-template-rows: auto; }
.grid.row-2 { grid-template-rows: auto auto; }
.grid.row-3 { grid-template-rows: auto auto auto; }
.grid.row-4 { grid-template-rows: auto auto auto auto; }
.grid.row-5 { grid-template-rows: auto auto auto auto auto; }
.grid.row-6 { grid-template-rows: auto auto auto auto auto auto; }
.grid.row-7 { grid-template-rows: auto auto auto auto auto auto auto; }

.grid.col-1 { grid-template-columns: 1fr; }
.grid.col-2 { grid-template-columns: 1fr 1fr; }
.grid.col-3 { grid-template-columns: 1fr 1fr 1fr; }
.grid.col-4 { grid-template-columns: 1fr 1fr 1fr 1fr; }
.grid.col-5 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
.grid.col-6 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }
.grid.col-7 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }

.grid.gap-8 {
  grid-gap: 8px 8px; 
}

.grid.gap-16 {
  grid-gap: 16px 16px; 
}

.grid.gap-24 {
  grid-gap: 24px 24px; 
}

.grid.gap-32 {
  grid-gap: 32px 32px; 
}

.cell.align-left {
  justify-self: flex-start;
}

.cell.align-right {
  justify-self: flex-end;
}

.cell.align-center {
  justify-self: center;
}

/* forms */

.form-row {
  margin-bottom: 20pt;
  text-align: center;
}

.form-row.last {
  margin-bottom: 0;
}

.form-row-label {
  margin-bottom: 6pt;
  font-size: 9pt;
  color: var(--color-text-medium);
  font-weight: 300;
}

.form-row-label.error {
  color: var(--color-danger-700);
}

.form-row-field {
  position: relative;
}

.form-row-field input,
.form-row-field textarea,
.form-row-field select {
  width: 100%;
  font-size: 11pt;
  color: var(--color-text-medium);
}

.form-row-field input,
.form-row-field textarea {
  border-radius: 3pt;
  border: 1px solid var(--color-light-400);
  height: 24pt;
  box-sizing: border-box;
  padding: 0pt 10px;
}

.form-row-field-pass-tgl {
  position: absolute;
  height: 100%;
  width: 40px;

  right: 0px;
  top: 0px;

  display: flex;

  justify-content: center;
  align-items: center;

  color: var(--color-text-light);

  transition: color 0.3s;
  cursor: pointer;

  font-size: 10pt;
}

.form-row-field-pass-tgl:hover {
  color: var(--color-text-dark);
}

.form-row-field-pass-tgl.active {
  color: var(--color-brand);
}


.form-row-button {

}

.form-row-button input, 
.form-row-button button {
  height: 24pt;
  width: 100%;
  border: none;
  background-color: var(--color-button-primary);
  color: var(--color-button-primary-text);

  border-radius: 3pt;

  transition: all 0.3s;

  cursor: pointer;
}

.form-row-button input:hover,
.form-row-button button:hover {
  background-color: var(--color-button-primary-hover);
  color: var(--color-button-primary-text-hover);
}

.form-row-button input.success, 
.form-row-button button.success {
  background-color: var(--color-button-success);
  color: var(--color-button-success-text);
}

.form-row-button input.success:hover, 
.form-row-button button.success:hover {
  background-color: var(--color-button-success-hover);
  color: var(--color-button-success-text-hover);
}

.form-row-button input.warning, 
.form-row-button button.warning {
  background-color: var(--color-button-danger);
  color: var(--color-button-danger-text);
}

.form-row-button input.warning:hover, 
.form-row-button button.warning:hover {
  background-color: var(--color-button-danger-hover);
  color: var(--color-button-danger-text-hover);
}

.form-row-button input.danger, 
.form-row-button button.danger {
  background-color: var(--color-button-danger);
  color: var(--color-button-danger-text);
}

.form-row-button input.danger:hover, 
.form-row-button button.danger:hover {
  background-color: var(--color-button-danger-hover);
  color: var(--color-button-danger-text-hover);
}

.form-input.error,
.form-textarea.error {
  color: var(--color-danger-600);
  border-color: var(--color-danger-600);
}

/* buttons */

.btn {
  display: inline-block;
  line-height: 24pt;
  border-radius: var(--border-radius-medium);
  padding: 0px 12pt;

  transition: color 0.3s, background-color 0.3s;

  cursor: pointer;

  border: 1px solid var(--color-light-500);
  color: var(--color-text-dark);
}

.btn.full {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.btn.primary {
  background-color: var(--color-button-primary);
  border-color: var(--color-button-primary);

  color: var(--color-button-primary-text);
  
  text-align: center;
}

.btn.bordered {
  background-color: transparent !important;
  
}

.btn.bordered.primary {
  border-color: var(--color-button-primary);
  color: var(--color-button-primary);
}

.btn.bordered.success {
  border-color: var(--color-button-success);
  color: var(--color-button-success);
}

.btn.bordered.warning {
  border-color: var(--color-button-warning);
  color: var(--color-button-warning);
}

.btn.bordered.danger {
  border-color: var(--color-button-danger);
  color: var(--color-button-danger);
}

.btn.bordered:hover {
  border-color: var(--color-text-dark);
  color: var(--color-text-dark); 
}

.btn.al {
  text-align: left;
}

.btn.ar {
  text-align: right;
}

.btn.secondary {
  background-color: var(--color-button-secondary);
  border-color: var(--color-button-secondary);
  color: var(--color-button-secondary-text);
}

.btn.success {
  background-color: var(--color-button-success);
  border-color: var(--color-button-success);
  color: var(--color-button-success-text);
}

.btn.warning {
  background-color: var(--color-button-warning);
  border-color: var(--color-button-warning);
  color: var(--color-button-warning-text);
}

.btn.danger {
  background-color: var(--color-button-danger);
  border-color: var(--color-button-danger);
  color: var(--color-button-danger-text);
}

.btn:hover {
  background-color: var(--color-button-primary-hover);
  color: var(--color-button-primary-text-hover);
}

.btn.ml,
.btn.ml-medium {
  margin-left: 10pt;
}

.btn.ml-small {
  margin-left: 5pt;
}

.btn.ml-large {
  margin-left: 15pt;
}

.btn.mr,
.btn.mr-medium {
  margin-right: 10pt;
}

.btn.mr-small {
  margin-right: 5pt;
}

.btn.mr-large {
  margin-right: 15pt;
}

/* notification */

.notification_item {
  display: block;
  box-shadow: var(--box-shadow-z-3);
  margin: 10pt;
  margin-bottom: 0;

  color: var(--color-brand);
  font-size: 10pt;
  max-width: 500pt;

  background-color: var(--notify-bg-color);
  float: left;
  clear: left;

  position: relative;
}

.notification_item:hover {
  cursor: pointer;
}

.notification_item.rs {
  border-radius: var(--border-radius-small);
}

.notification_item.rm {
  border-radius: var(--border-radius-medium);
}

.notification_item.rl {
  border-radius: var(--border-radius-large);
}

.notification_item.info {
  color: var(--color-brand);
}

.notification_item.info:hover {
  background-color: var(--color-brand-200);
}

.notification_item.success {
  color: var(--color-success);
}

.notification_item.success:hover {
  background-color: var(--color-success-200);
}

.notification_item.error {
  color: var(--color-danger);
}

.notification_item.error:hover {
  background-color: var(--color-danger-200);
}

.notification_item.warning {
  color: var(--color-warning);
}

.notification_item.warning:hover {
  background-color: var(--color-warning-200);
}

.notification_item_body {
  display: grid;
  grid-template-columns: 20pt 1fr auto;
  padding: 5pt;
  align-items: center;
}

.notification_item_icon {
  padding: 5pt;
}

.notification_item_text {
  padding: 5pt;
}

.notification_item_buttons {
  margin-left: 10pt;
}

.notification_item_close {
  display: inline-block;
  color: var(--color-text-disabled);
  font-size: 10px;
  margin-left: 5pt;
  cursor: pointer;
  padding: 0 5pt;
}

.notification_item_close:hover {
  color: var(--color-text-dark);
}

.notification_item_description {
  padding: 10pt;
  border-top: 1px solid var(--color-light-400);
  color: var(--color-text-dark);

  line-height: 1.4;
}

/* icons */

.icon-add-row:before {
  content: "\e900";
}
.icon-alert:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-arrow-up:before {
  content: "\e904";
}
.icon-bargrid:before {
  content: "\e905";
}
.icon-bchart:before {
  content: "\e906";
}
.icon-b-chart-2:before {
  content: "\e907";
}
.icon-calendar:before {
  content: "\e908";
}
.icon-calendar-check:before {
  content: "\e909";
}
.icon-charts-bar-grid:before {
  content: "\e90a";
}
.icon-charts-donut:before {
  content: "\e90b";
}
.icon-charts-gauge:before {
  content: "\e90c";
}
.icon-charts-horizontal:before {
  content: "\e90d";
}
.icon-charts-list:before {
  content: "\e90e";
}
.icon-charts-pie:before {
  content: "\e90f";
}
.icon-charts-verical:before {
  content: "\e910";
}
.icon-checked:before {
  content: "\e911";
}
.icon-close-solid:before {
  content: "\e912";
}
.icon-cross:before {
  content: "\e913";
}
.icon-delete-solid:before {
  content: "\e914";
}
.icon-doughnut:before {
  content: "\e915";
}
.icon-edit:before {
  content: "\e916";
}
.icon-edit-solid:before {
  content: "\e917";
}
.icon-eye-solid:before {
  content: "\e918";
}
.icon-filter:before {
  content: "\e919";
}
.icon-font-bold:before {
  content: "\e91a";
}
.icon-font-italic:before {
  content: "\e91b";
}
.icon-font-underline:before {
  content: "\e91c";
}
.icon-full-screen:before {
  content: "\e91d";
}
.icon-gauge-chart:before {
  content: "\e91e";
}
.icon-grid:before {
  content: "\e91f";
}
.icon-group-by-column:before {
  content: "\e920";
}
.icon-hide:before {
  content: "\e921";
}
.icon-info-solid:before {
  content: "\e922";
}
.icon-link:before {
  content: "\e923";
}
.icon-lock-solid:before {
  content: "\e924";
}
.icon-menu:before {
  content: "\e925";
}
.icon-move-arrows:before {
  content: "\e926";
}
.icon-notification:before {
  content: "\e927";
}
.icon-options:before {
  content: "\e928";
}
.icon-piechart:before {
  content: "\e929";
}
.icon-plus:before {
  content: "\e92a";
}
.icon-preferences:before {
  content: "\e92b";
}
.icon-refresh:before {
  content: "\e92c";
}
.icon-save:before {
  content: "\e92d";
}
.icon-save-as:before {
  content: "\e92e";
}
.icon-search:before {
  content: "\e92f";
}
.icon-success:before {
  content: "\e930";
}
.icon-tilegrid:before {
  content: "\e931";
}
.icon-timestamp:before {
  content: "\e932";
}
.icon-to-do:before {
  content: "\e933";
}
.icon-total:before {
  content: "\e934";
}
.icon-unify:before {
  content: "\e935";
}
.icon-up-down-arrows:before {
  content: "\e936";
}
.icon-view-grid:before {
  content: "\e937";
}
.icon-view-rows:before {
  content: "\e938";
}
.icon-zoom-in:before {
  content: "\e939";
}
.icon-zoom-out:before {
  content: "\e93a";
}

/* card */

.card {
  background-color: #fff;
  box-shadow: var(--box-shadow-z-2);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;

  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.card.align-left {
  text-align: left;
  align-items: flex-start;
}
.card.align-center {
  text-align: center;
  align-items: center;
}
.card.align-right {
  text-align: right;
  align-items: flex-end;
}

.card.valign-top {
  justify-content: flex-start;
}
.card.valign-center {
  justify-content: center;
}
.card.valign-bottom {
  justify-content: flex-end;
}

.card-icon {
  background-color: var(--color-bg);
  width: 80px;
  height: 80px;

  border-radius: 40px;

  overflow: hidden;

  display: flex;

  justify-content: center;
  align-items: center;
}

.card-icon img {
  max-width: 90%;
  max-height: 90%;
}

.card-title {
  margin-top: 16px;
  color: var(--color-text-medium);
}

.card-text {
  margin-top: 16px;
  font-size: 12pt;
  line-height: 1.2;
  color: var(--color-text-light);
}

/* content */

.content {
  font-size: 13pt;
  color: var(--color-text-medium);
  line-height: 1.4
}

.content p {
  margin-bottom: 20pt;
}

.content p:last-of-type {
  margin-bottom: 0;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: var(--color-text-dark);
  margin-bottom: 15pt;
  font-weight: 400;
  line-height: 1;
  font-size: 24pt;
}